{% extends "index.html" %}
{% load static %}

{% block content %}
    {% include "includes/navbar.html" %}

    <div class="container mt-5">
        <div class="row mt-5 pt-5">
            <h4 class="text-light">Filmler</h4>
            {% if filmler|length > 0 %}
                {% for film in filmler %}
                    <div class="col-md-2 col-4 mt-1">
                        <a href="video.html">
                            <img src="{{film.resim.url}}" class="w-100" alt="">
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <h5 class="text-light">Film bulunumadı</h5>
            {% endif %}
            
        </div>
    </div>
{% endblock content %}